body {
    background-image: url("http://wallpaper-gallery.net/images/presidential-wallpaper/presidential-wallpaper-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    padding: 15px;
    text-align: center;
    background-color: whitesmoke;
    opacity: .97;
    font-family: 'JustusRoman', Arial, Helvetica, sans-serif; 
    font-weight: normal; 
    font-style: normal;     
}

.president-Button {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;
}

.row {
    display: inline-block;
    padding: 15px;
}

img {
    margin: 15px;
}

.imageCard {
    display: inline-block;
}

.textBox {
    height: 45px; 
    font-size: 20px;
}

.submit {
    margin-bottom: 6px;
    background-color:#e60000;
    border-color: #e60000;
    color: whitesmoke;
}

.rating {
    font-size: 22px;
}

.president-Button {
    background-color: navy;
    border-color: navy;
    color: whitesmoke;
}

.title {
    font-size: 50px;
}